<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Post Details</h1>
    <div class="post-details">
        <span th:each="post : ${allPosts}">
           
            <p><strong>Photo:</strong></p>
            <img th:if="${post.photoBase64}" th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" alt="Post Photo" />
			<p><strong>Caption:</strong> 
				<span th:text="${post.caption}"></span></p>
				<p><strong>Likes:</strong> 
				<span th:text="${post.likes}"></span></p>
				
				<form action="/likePost">
					<input  name="id" th:value="${post.id}">
					<input type="submit" value="LIKE POST">
				</form>
				
				<form action="/addComment">
					<textarea name="comments"></textarea>
					<input type="submit">
				</form>
            <hr />
        </span>
    </div>
    <a href="/">Back to Form</a>
</body>
</html>
